<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Iridian</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="">Contacto</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

<div class="row mt-3">
  <div class="col-2">

  </div>
  <div class="col">
      <div class="card text-center">
      <div class="card-header">
          Prueba Iridian
      </div>
      <div class="card-body">
          <h5 class="card-title">TO DO</h5>
          <p class="card-text">5. Realice un formulario de contacto en angular que tenga: nombre, apellido, correo, celular, área de
            contacto (es una entidad) y mensaje. Y envíe el formulario a un API de prueba.</p>
          <a href="" class="btn btn-primary">Ir a Contacto</a>
      </div>
      </div>

  </div>
  <div class="col-2">

  </div>
</div>
