
<div class="row mt-3">
    <div class="col-2">

    </div>
    <div class="col">
        <form (ngSubmit) = "guardar( f )" #f="ngForm">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text"
                        class="form-control"
                        name = "nombre"
                        placeholder="Escribe tu nombre"
                        [(ngModel)] = "contacto.nombre"
                        [class.is-invalid] = "nombre.invalid && nombre.touched"
                        required
                        #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Nombre es requerido o es inválido</small>
                        
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text"
                        class="form-control"
                        name = "apellido"
                        placeholder="Escribe tu apellido"
                        [(ngModel)] = "contacto.apellido"
                        [class.is-invalid] = "apellido.invalid && apellido.touched"
                        required
                        #apellido="ngModel">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Apellido es requerido o es inválido</small>        
            </div>

            <div class="form-group">
                <label>Correo</label>
                <input type="text"
                        class="form-control"
                        name = "correo"
                        placeholder="Escribe tu correo"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        [(ngModel)] = "contacto.correo"
                        [class.is-invalid] = "correo.invalid && correo.touched"
                        required
                        #correo="ngModel">
                <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Correo es requerido o es inválido</small>
            </div>

            <div class="form-group">
                <label>Celular</label>
                <input type="text"
                        class="form-control"
                        name = "celular"
                        placeholder="Escribe tu celular"
                        [(ngModel)] = "contacto.celular"
                        [class.is-invalid] = "celular.invalid && celular.touched"
                        required
                        #celular="ngModel">
                <small *ngIf="celular.invalid && celular.touched" class="form-text text-danger">Celular es requerido o es inválido</small>
            </div>

            <div class="form-group">
                <label>Area</label>
                <input type="text"
                        class="form-control"
                        name = "area"
                        placeholder="Escribe el área"
                        [class.is-invalid] = "area.invalid && area.touched"
                        [(ngModel)] = "contacto.area"
                        required
                        #area="ngModel">
                <small *ngIf="area.invalid && area.touched" class="form-text text-danger">Area es requerido o es inválido</small>
            </div>

            <div class="form-group">
                <label>Mensaje</label>
                <textarea
                    name = "mensaje"
                    class="form-control" 
                    id="exampleFormControlTextarea1" 
                    rows="3"
                    [class.is-invalid] = "mensaje.invalid && mensaje.touched"
                    [(ngModel)] = "contacto.mensaje"
                    #mensaje="ngModel"
                    required>
                </textarea>
                <small *ngIf="mensaje.invalid && mensaje.touched" class="form-text text-danger">Mensaje es requerido o es inválido</small>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-2">
        
    </div>
</div>