
<div class="row mt-3">
    <div class="col-2">

    </div>
    <div class="col">
        <form>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text"
                        class="form-control"
                        placeholder="Escribe tu nombre"
                        required>
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text"
                        class="form-control"
                        placeholder="Escribe tu apellido"
                        required>
            </div>

            <div class="form-group">
                <label>Correo</label>
                <input type="text"
                        class="form-control"
                        placeholder="Escribe tu correo"
                        required>
            </div>

            <div class="form-group">
                <label>Celular</label>
                <input type="text"
                        class="form-control"
                        placeholder="Escribe tu celular"
                        required>
            </div>

            <div class="form-group">
                <label>Area</label>
                <input type="text"
                        class="form-control"
                        placeholder="Escribe el área"
                        required>
            </div>

            <div class="form-group">
                <label>Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-2">
        
    </div>
</div>